
@font-face {
    font-family:"Galle";
    src:url("Galle.woff2") format("woff2"),url("Galle.woff") format("woff"),url("Galle.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        